html
{
	height: 100%;
}
img
{
	border: none;
}
body
{
	background: #F9F9F9;
	height: 100%;
	font-family: sans-serif;
	font-size: 11px;
}

/** for dragable layer ---------------------------------------------------------*/
.groupWrapper 
{
	float: left;
	margin-right: 1%;
	min-height: 400px;
}
.serializer
{
	clear: both;
}
.groupItem
{
	margin-bottom: 20px;
	border: 1px solid #aaa;
}
.groupItem .itemHeader
{
	background-color:#EEEEEE;
	border-bottom:1px solid #aaa;
	font-size:150%;
	padding:0.4em;
	line-height: 28px;
	color: #CF7606;
	padding: 0 10px;
	cursor: move;
	font-weight: bold;
	height: 28px;
	position: relative;
	font-family:verdana !important;
}
.groupItem .itemHeader a
{
	position: absolute;
	right: 10px;
	top: 0px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.sortHelper
{
	border: 3px dashed #666;
	width: auto !important;
}
.groupWrapper p
{
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.groupItem .itemContent
{
	margin: 10px 10px;
	font-size: 125%;
}

/** page style ---------------------------------------------------------*/
.items
{
	
	border: 1px solid #aaa;
}
.items .content
{
	margin: 10px 10px;
	font-size: 125%;
}
.items .header
{
	background-color:#EEEEEE;
	border-bottom:1px solid #aaa;
	font-size:150%;
	padding:0.4em;
	line-height: 28px;
	color: #CF7606;
	padding: 0 10px;
	font-weight: bold;
	height: 28px;
	position: relative;
	font-family:verdana !important;
}
.items .header a
{
	position: absolute;
	right: 10px;
	top: 0px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
#mainframe
{
	overflow: auto;
	_height: 1%;
}
#mainlogo
{
	width:13%;
	float:left;
	height: 100%;
	margin-right: 20px;
}
#wiki-content
{
	padding: 20px;
	border:1px solid #AAAAAA;
	width: 79%;
	background: #fff;
}
#signupform
{
	padding: 20px;
	border:1px solid #AAAAAA;
	width: 79%;
	background: #fff;
}

/** for topbar ---------------------------------------------------------*/
#topbar
{
	text-align:right;
}
#topbar a 
{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	border-bottom: medium none;
	padding:1px 0 1px 19px;
	padding-left: 2px;
}
a:link, a:visited 
{
	border-bottom:1px solid #DDDDDD;
	color:#002BB8;
	text-decoration:none;
}

/** for navegation ---------------------------------------------------------*/
ul { margin-bottom: 0; }
#navegation li 
{
	margin-left: 10px;
	margin-bottom: 0 none !important;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background: #F9F9F9;
	border-color: #aaa;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	display: inline;
	overflow: visible;
}
#navegation li a:hover
{
	background: white;
	border-bottom: white solid 1px;
}
#navegation li a 
{
	background-color: #EEEEEE ;
	border:medium none;
	color:#002BB8;
	margin:0;
	padding:0 1em;
	position:relative;
	text-decoration:none;
	z-index:0;
	
}
#navegation li.selected 
{
	border-color:#FABD23;
	font-weight:bold;
	padding:0 0 0.1em !important;
	background-color: white;
}
#navegation li.selected a
{
	background-color: white;
}

/** for bottom ---------------------------------------------------------*/
#bottom 
{
	width:80%;
    float: left;
	background-color:white;
	border-bottom:1px solid #FABD23;
	border-top:1px solid #FABD23;
	margin:20px 0 10px 15%;
	padding:5px 0 10px 0;
	text-align:center;
}
#bottom ul 
{
	margin: 0 10px;
}
#bottom li 
{
	display:inline;
	margin-left: 5px;
}

/** for changepassword ---------------------------------------------------------*/
#currentpassword {}
#currentpassword
{
	margin-bottom: 5px!important; 
}
#retypepassword
{
	margin-bottom: 5px;
}
#newpassword
{
	margin-bottom: 5px;
}
#changepassword
{
	margin-bottom: 5px;
}


#myfavorite,#searchfavorite,#mygroup,#searchgroup,#pdfarea,#trythis,#definition,#query,#result-list,#settingform,
#signupform
{
	padding: 20px;
	border:1px solid #AAAAAA;
	width: 79%;
	background: #fff;
	float: left;
	margin-right: 1%;
	margin-bottom: 20px;
}
#email, #nickname, #settingsubmit,#changepassword
{
	margin-bottom: 5px;
}
#changepassword a:hover
{
	background: #EEEEEE;
}

/** for signin---------------------------------------------------------*/
#leftframe
{
	padding: 20px;
	border:1px solid #AAAAAA;
	width: 35%;
	background: #fff;
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}
#leftframe #trythis, #searchsamples
{
	padding: 0 !important;
	border:1px solid #AAAAAA;
	background: #fff;
	margin-right: 1%;
	float: none !important;
	margin-bottom: 20px;
	width: 100%;
}
#signin
{
	padding: 20px;
	border:1px solid #AAAAAA;
	width: 35%;
	background: #fff;
	float: left;
	margin-bottom: 20px;
}
#rememberlogin
{
	margin: 5px 10px 5px 5px;
	float: left;
}
#loginsubmit
{
	margin: 5px 5px;
}
#signupsubmit a:hover
{
	background: #EEEEEE;
}
#loginform .items 
{
	margin-bottom: 20px;
}

/** for signupform ---------------------------------------------------------*/
#signupform #retypepassword
{
	margin: 0!important;
}
#signupform div
{
	margin-bottom: 5px;
}

/** for wiki-content and edit ---------------------------------------------------------*/
#wiki-content #definition 
{
	float: none!important;
	padding: 0!important;
	border:1px solid #AAAAAA;
	background: #fff;
	margin-right: 0!important;
	width: 100%;
}
